/*css file */
* body {
  background-color: hotpink;
  text-align: center;
}
.content-title {
  color: white;
  text-shadow: 3px 3px black;
}
header {
  background-color: deeppink;
  color: black;
}

footer {
  background-color: black;
  color: white;
}
